logs/server.log
logs/*.log
logs/*.pid
logs/*.stdout.log
logs/*.stderr.log
logs/
data/*.json
data/temp/
data/novels/
data/runner-browser-profile-*/
public/temp-files/
skills/*
node_modules/*
data/runner-browser-profiles/*
.history/*
.history/
persona_*.md
data/personas/我是小萝莉.md
